body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f2f5;
    margin-top: 50px;
}

#search-container {
    margin: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}